#self.collapse
    .bg-inverse.p-a-1
        .container
            .media
                .media-left
                    a(href='#')
                        img.media-object(src='images/man.png', width='64')
                .media-body
                    h4.media-heading= user.name + ' ' + user.surname
                    p.text-muted= user.age + ', ' + user.city