doctype html
html(lang='ru')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset='UTF-8')
        title Магистратура
        link(href='/stylesheets/style.css', rel='stylesheet')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/jquery-ui.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/script.js')
    body
        block content